In [3]:
a = {
    "name": "Hiral Mistry",
    "age": 24,
    "salary": 19000
}

In [4]:
a

{'name': 'Hiral Mistry', 'age': 24, 'salary': 19000}

In [5]:
a.keys()

dict_keys(['name', 'age', 'salary'])

In [7]:
a.items()

dict_items([('name', 'Hiral Mistry'), ('age', 24), ('salary', 19000)])

In [8]:
for key, value in a.items():
    print(f"{key} : {value}")

name : Hiral Mistry
age : 24
salary : 19000

In [9]:
def function(**kwargs):
    print(kwargs)
    print(type(kwargs))
    for key, value in kwargs.items():
        print(f"{key} : {value}")

In [13]:
function(name='hiral', age=24)

{'name': 'hiral', 'age': 24}
<class 'dict'>
name : hiral
age : 24

In [14]:
function(empid=1,name='hiral',age=24,sal=25000,loc='mumbai')

{'empid': 1, 'name': 'hiral', 'age': 24, 'sal': 25000, 'loc': 'mumbai'}
<class 'dict'>
empid : 1
name : hiral
age : 24
sal : 25000
loc : mumbai

Example consider a restauraunt menu, condier menu is provided with taxes included in a dictionary

In [16]:
menu = {
    "burger": 120,
    "sandwich": 80,
    "fries": 60,
    "pasta": 200,
    "pizza": 300
}

In [17]:
menu

{'burger': 120, 'sandwich': 80, 'fries': 60, 'pasta': 200, 'pizza': 300}

In [18]:
menu.keys()

dict_keys(['burger', 'sandwich', 'fries', 'pasta', 'pizza'])

In [19]:
menu.items()

dict_items([('burger', 120), ('sandwich', 80), ('fries', 60), ('pasta', 200), ('pizza', 300)])

In [21]:
menu.get('burger')

120